<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Application</title>
</head>
<body>
    
    <div class="container">
        <h1 class="text-center" th:text="${msg}"></h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>UID</th>
                    <th>CREATE TIME</th>
                    <th>NAME</th>
                    <th>CODE</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.uid}"></td>
                    <td th:text="${product.create_tms}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.code}"></td>
                    <td>
                        <a class="btn btn-success" th:href="@{'/edit/'+${product.id}}">Edit</a>
                        <a class="btn btn-danger" th:href="@{'/delete/'+${product.id}}">Del</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="btn btn-primary" th:href="@{add}">Add</a>
    </div>
    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
</body>
</html>